<div play-by-play-state controller="app.components.states.PlayByPlayState">
    <style component="css-helpers"></style>
    <style>
        [play-by-play-state-quarter-tabs-container] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 50px;
        }

        [play-by-play-state-plays-container] {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
    <div play-by-play-state-quarter-tabs-container></div>
    <div play-by-play-state-plays-container tag="plays-container"></div>
</div>
